.buy{
    .buy__swiper{
        max-width: 100%;
    }
    .buy__container{
        @extend %container;
        padding-top: 120px;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
        gap:120px;
    }
    .buy__slider-wrapper{
        display: flex;
        flex-direction: column;
        gap:60px;
    }
    .buy__title{
        @include titl(50px);
        color: rgb(20, 16, 36);
    }
    .buy__swiper-wrapper{
        // все настройки обложеи задаются через Js
        padding-bottom: 100px;
    }
    .slide{
        display: flex;
        flex-direction: column;
    }
    .slide-image{
        width: 100%;
    }
    .slide-title{
        @include titl(24px);
        color: rgb(20, 16, 36);
        margin-top: 20px;
    }
        .slide-text{
        @include par(18px);
        color: rgba(20, 16, 36, 0.7);
        margin-top: 10px;
    }
    .slide-a{
        @include par(18px);
        margin-top: 20px;
        position: relative;
        color: rgb(213, 32, 39);
        align-self: flex-start;
        &::before{
            position: absolute;
            content: '';
            background: rgb(213, 32, 39) ;
            height: 1px;
            width: 0%;
            bottom: 0;
            left: 0;
            transition: 0.5s;
        }
        &::after{
            position: absolute;
            content: '';
            background: rgb(213, 32, 39) ;
            height: 1px;
            width: 0%;
            top: 0;
            right: 0;
            transition: 0.5s;
        }
        &:hover::before, &:hover::after{
            width: 100%;
        }
        
    }
    .swiper-button-prev, .swiper-button-next{
        top: auto;
        bottom: 0;
        width: 34px;
        height: 34px;
        background: rgb(35, 11, 52);
        border-radius: 50%;
    }
    .swiper-button-prev{
        right: 50px;
        left: auto;
    }
    .swiper-button-prev::after, .swiper-button-next::after{
        font-size: 14px;
        font-weight: 900;
        color: white;
        margin: auto;
    }
    .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal{
        width: 30%;
        bottom: 10px;
        background: rgba(20, 16, 36, 0.08);
        border-radius: 40px;
        top: auto;
    }
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        border-radius: 40px;

        background: rgb(20, 16, 36);
    }
    .buy__buttons-wrapper{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .buy__buttons{
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    
    .buy__button-first-title{
        @include titl(30px);
        color: inherit;

    }
    .buy__button-second-title{
        @include titl(50px);
        margin-top: 63px;
        color: inherit;
    }
    .buy__button-text{
        @include par(18px);
        margin-top: 20px;
        color: inherit;
    }
    .button{
        @extend %button;
        margin-top: 61px;
    }
    .buy__button{
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        border: 1px solid rgba(20, 16, 36, 0.2);
        padding: 40px;
        align-items: center;
        text-align: center;
        color: rgb(20, 16, 36);
        transition: 0.2s;
        
        &:hover{
            background: rgb(20, 16, 36);
            color: rgb(255, 255, 255);
            cursor: pointer;
            & .buy__button-second-title{
                margin-top: 83px;
                transition: 0.5s;
            }
        }
    }
    

}
@import '_buy-media.scss'
